@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap);
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

a {
  color: #f17c67;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #8a8174;
  cursor: pointer;
  font-weight: 500;
}

.color_primaryColor01 {
  color: #f17c67;
}

.color_mindColor5 {
  color: #ebe9e8;
}

.bg_color {
  background-color: #ebe9e8;
}

.has-text-primary {
  color: white !important;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.is-size-18 {
  font-size: 18px;
}

.image.is-55x55 {
  height: 55px;
  width: 55px;
}

.one_page_h {
  height: calc(100vh - 3rem - 52px);
}

.one_page_min_h {
  min-height: calc(100vh - 3rem - 52px);
}

.label {
  color: #60584b;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.position_fixed {
  position: fixed;
}

.position_relative {
  position: relative;
}

.position_absolute {
  position: absolute;
}

.button.is-primary {
  background-color: #8a8174;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: rgba(138, 129, 116, 0.8);
}

.button.is-primary:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(96, 88, 75, 0.8);
          box-shadow: 0 0 5px rgba(96, 88, 75, 0.8);
}

/* alert_style ------------------------------- */
.modal-card-title {
  text-align: center !important;
}

.modal-card-body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .modal-card .modal-card-foot {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.modal-card-foot {
  height: 75px;
}

.media {
  width: 100%;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media-content {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* btn ( enter & cancel) */
.btn_enter {
  border-radius: 7px;
  background-color: #f17c67;
  color: white;
  border: 1px solid #f17c67;
  cursor: pointer;
}

.btn_enter:hover {
  color: white;
  background: rgba(241, 124, 103, 0.8);
  border: 1px solid #f17c67;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.btn_enter:focus {
  color: white;
}

.btn_cancel {
  border-radius: 7px;
  background-color: #ebe9e8;
  border: 1px solid #d4cfca;
  color: #8a8174;
  cursor: pointer;
}

.btn_cancel:hover {
  color: #aea79c;
  background: rgba(235, 233, 232, 0.8);
  border: 1px solid #d4cfca;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.btn_cancel:focus {
  color: #aea79c;
}

.btn_trash {
  border-radius: 7px;
  background-color: #ca2913;
  border: 1px solid #d4cfca;
  color: #ebe9e8;
  cursor: pointer;
}

.btn_trash:hover {
  color: #ebe9e8;
  background: rgba(202, 41, 19, 0.8);
  border: 1px solid #d4cfca;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.btn_trash:focus {
  color: #aea79c;
}

.btn_edit {
  border-radius: 7px;
  background-color: #ebe9e8;
  border: 1px solid #d4cfca;
  color: #8a8174;
  cursor: pointer;
}

.btn_edit:hover {
  color: #aea79c;
  background: rgba(235, 233, 232, 0.8);
  border: 1px solid #d4cfca;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.btn_edit:focus {
  color: #aea79c;
}

.btn_back_size {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
}

.btn_to_top_bg {
  position: fixed;
  bottom: 7%;
  right: 1%;
  background-color: rgba(138, 129, 116, 0.3);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.btn_to_top_bg a {
  color: rgba(241, 124, 103, 0.8);
}

.btn_to_top_bg a:hover {
  color: rgba(241, 124, 103, 0.5);
}

/* navbar -------------------------------------------------- */
svg {
  width: 110px;
  height: 50px;
}

.nav_signUp {
  border-radius: 7px;
  background-color: #f17c67;
  color: white;
  border: 1px solid #ffa392;
}

.nav_signUp:hover {
  color: white;
  background: rgba(241, 124, 103, 0.8);
  border: 1px solid #ffa392;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.nav_signUp:focus {
  color: white;
}

.nav_logIn {
  border-radius: 7px;
  background-color: white;
  color: #f17c67;
  border: 1px solid #ffa392;
}

.nav_logIn:hover {
  color: white !important;
  border: 1px solid #f4c7a5;
  background-color: #f17c67;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.nav_logIn:focus {
  color: #f17c67;
}

.nav_avator:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav_backStage {
  background-color: #f17c67;
  color: white;
}

.nav_backStage:hover {
  background-color: rgba(241, 124, 103, 0.8) !important;
  color: white !important;
}

.nav_backStage:focus {
  background-color: transparent !important;
  border: 1px solid #f17c67 !important;
  color: #f17c67 !important;
}

/* footer --------------------------------------- */
footer {
  width: 100%;
  height: 3rem;
}

footer p {
  line-height: 3rem;
}

.footer {
  background-color: #f17c67;
}

/* home.vue ----------------------------------------------- */
#home {
  background: url(../images/bg/bg_home_1900.png) no-repeat center/cover;
  overflow-y: hidden;
  position: relative;
}

#home .home_title {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#home .home_title h1 {
  width: 50%;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 2px #f17c67;
}

#home .particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  top: 0;
  left: 0;
}

/* about&step --------------------------------------------- */
.box_about {
  width: 100%;
}

.box_about_content_h {
  min-height: 150px;
}

#a_content {
  height: 500px;
}

.step-title {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

/* login -------------------------------------------------- */
.bg_login {
  background-color: #f4c7a5;
}

.box_login {
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 5px #f17c67;
          box-shadow: 0 0 5px #f17c67;
  color: #f17c67;
  background: white;
}

.btn_login {
  border-radius: 2rem;
  background-color: #f17c67;
  color: white;
  border: 1px solid #ffa392;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
}

.btn_login:hover {
  color: white;
  background: rgba(241, 124, 103, 0.8);
  border: 1px solid #ffa392;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.btn_login:focus {
  color: white;
}

/* rigistered ---------------------------------------------- */
#registered_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg_registered {
  background-color: #ffc7bc;
}

.box_registered {
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 5px #f17c67;
          box-shadow: 0 0 5px #f17c67;
  color: #f17c67;
  background: white;
}

.avator_registered {
  width: 100%;
  height: 50%;
}

/* testList --------------------------------------- */
#test_list .media-content {
  width: 100% !important;
}

.box_testList {
  width: 100%;
}

.message {
  border-radius: 7px;
}

.message:last-child {
  margin-bottom: 3rem;
}

.message-body {
  border-color: #f17c67;
  border-radius: 7px;
}

.msg_shadow {
  -webkit-box-shadow: 1px 1px 3px #60584b;
          box-shadow: 1px 1px 3px #60584b;
}

/* do_test ---------------------------------------- */
.box_test {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
}

.btn_test_size {
  width: 4rem;
  height: 2.5rem;
  font-size: 1rem;
}

#test_question .columns:nth-child(odd) {
  background: rgba(241, 124, 103, 0.15);
  border-radius: 1.5rem;
}

#test_question .columns:last-child {
  border: none;
}

/* knowledge -------------------------------------- */
.box_knowledge {
  width: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.8rem;
}

/* member_personal -------------------------------- */
.bg_personal {
  background: #d4cfca;
}

.image.is-150x150 {
  height: 150px;
  width: 150px;
}

.box_per_profile {
  background: #ebe9e8;
  border-radius: 1.5rem;
}

.box_avator {
  border-radius: 50%;
  border: 3px solid #f17c67;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box_per_result {
  background: #ebe9e8;
  border-radius: 1.5rem;
}

.btn_persinal_edit {
  background-color: transparent;
  color: #f17c67;
  border: none;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

/* backStage-sidebar -------------------------------------------------- */
.sidebar-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 3rem - 52px);
}

.sidebar-page .sidebar-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: calc(100vh - 3rem - 52px);
}

.bg_back {
  background: #d4cfca url(../images/bg/bg_backStage.png) no-repeat center/contain;
  width: 100%;
}

.menu-list a:hover {
  background-color: rgba(212, 207, 202, 0.8);
}

.menu-list a:focus {
  background-color: rgba(241, 124, 103, 0.8);
  color: white;
}

.back_content {
  float: right !important;
  background: #d4cfca url(../images/bg/bg_backStage.png) no-repeat center/contain;
  width: 100%;
  height: 100%;
}

.back_content #backAbout,
.back_content #backKnowledge,
.back_content #backTest,
.back_content #backMember {
  background: rgba(212, 207, 202, 0.8);
  width: 100%;
  height: 100%;
}

/* backStage_routeview ---------------------- */
.level {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back_add_box {
  background: rgba(96, 88, 75, 0.7);
  border-radius: 1.5rem;
  color: #ebe9e8;
  padding: 1.5rem;
}

.back_pre_box {
  background: rgba(174, 167, 156, 0.8);
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.backAbout_pre_box_h {
  min-height: 90px;
}

#back_add_title label,
#back_add_content label {
  color: #ebe9e8;
}

/* backKnowledge ------------------ */
#backKnowledge .btn_Knowledge_add {
  background-color: #18586d;
  width: 65px;
  height: 65px;
  border-color: transparent;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 12.5%;
  right: 1%;
}

#backKnowledge .btn_Knowledge_add:hover {
  background-color: rgba(24, 88, 109, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#backKnowledge .btn_Knowledge_add:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(24, 88, 109, 0.8);
          box-shadow: 0 0 5px rgba(24, 88, 109, 0.8);
}

#backKnowledge .btn_Knowledge_pre {
  background-color: #6ba3b5;
  width: 65px;
  height: 65px;
  border-color: transparent;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 3%;
  right: 1%;
}

#backKnowledge .btn_Knowledge_pre:hover {
  background-color: rgba(107, 163, 181, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#backKnowledge .btn_Knowledge_pre:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(107, 163, 181, 0.8);
          box-shadow: 0 0 5px rgba(107, 163, 181, 0.8);
}

/* backMember---------------------- */
#backMember .button.is-primary {
  background-color: #8a8174;
  border-color: transparent;
  color: #fff;
}

#backMember .button.is-primary:hover {
  background-color: rgba(138, 129, 116, 0.8);
}

#backMember .button.is-primary:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(96, 88, 75, 0.8);
          box-shadow: 0 0 5px rgba(96, 88, 75, 0.8);
}

.btn_member_add {
  background-color: #18586d;
  width: 65px;
  height: 65px;
  border-color: transparent;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 3%;
  right: 1%;
}

.btn_member_add:hover {
  background-color: rgba(24, 88, 109, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_member_add:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(24, 88, 109, 0.8);
          box-shadow: 0 0 5px rgba(24, 88, 109, 0.8);
}

.add_modal_size {
  width: 100%;
}

.pre_modal_size {
  width: 100%;
}

/* backMentalTest --------------------------------- */
#backTest {
  background-color: rgba(235, 233, 232, 0.8);
  border-radius: 1.5rem;
}

#backTest .btn_backTest_edit {
  background-color: transparent;
  color: #aea79c;
  border: none;
  position: absolute;
  right: 2%;
  top: 0%;
  cursor: pointer;
}

#backTest .btn_test_delete {
  border-radius: 7px;
  background-color: transparent;
  border: none;
  color: #ca2913;
  cursor: pointer;
  position: absolute;
  right: -1%;
  top: 0%;
}

#backTest .list_style_num {
  list-style-type: decimal;
}

#backTest .list_style {
  list-style-type: square;
}

#backTest .btn_question_edit {
  background-color: transparent;
  color: #aea79c;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#backTest .btn_question_delete {
  background-color: transparent;
  color: #ca2913;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#backTest .btn_position_left {
  position: absolute;
  right: 10%;
  top: 12%;
}

#backTest .btn_position_right {
  position: absolute;
  right: 3%;
  top: 12%;
}

#backTest .btn_test_patch {
  background-color: #6ba3b5;
  width: 65px;
  height: 65px;
  border-color: transparent;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 13%;
  right: 1%;
}

#backTest .btn_test_patch:hover {
  background-color: rgba(107, 163, 181, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #60584b;
}

#backTest .btn_test_patch:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(107, 163, 181, 0.8);
          box-shadow: 0 0 5px rgba(107, 163, 181, 0.8);
}

#backTest .box_question_add {
  border-radius: 1.5rem;
  background: rgba(174, 167, 156, 0.5);
  height: 100%;
}

#backTest .box_option_add {
  border-radius: 1.5rem;
  background: #ebe9e8;
  height: 100%;
}

#backTest .box_test_edit {
  border-radius: 1.5rem;
  background: rgba(212, 207, 202, 0.3);
  height: 100%;
}

/* media Queries ------------------------------------------- */
@media screen and (max-width: 767px) {
  .back_add_box {
    width: 95%;
    padding: 1rem;
  }
  .back_pre_box {
    width: 95%;
    padding: 1rem;
  }
  .backAbout_pre_box_h {
    min-height: 200px;
  }
  .media-content {
    overflow: visible;
  }
}

@media all and (min-width: 768px) {
  .add_modal_size {
    width: 50%;
  }
  #backKnowledge .btn_Knowledge_add {
    position: fixed;
    bottom: 13%;
    right: 1%;
  }
  #backKnowledge .btn_Knowledge_pre {
    position: fixed;
    bottom: 5%;
    right: 1%;
  }
  #backMember .btn_member_add {
    position: fixed;
    bottom: 3%;
    right: 1%;
  }
  #backTest .btn_test_patch {
    position: fixed;
    bottom: 5%;
    right: 1%;
  }
  #backTest .btn_member_add {
    position: fixed;
    bottom: 13%;
    right: 1%;
  }
}

@media screen and (max-width: 1023px) {
  .nav_avator:hover {
    cursor: pointer;
    -webkit-transform: none;
            transform: none;
  }
  #avator_block {
    margin: 1rem 0 0.5rem 1.5rem !important;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-list li a span:nth-child(2), .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-list li a span:nth-child(2) {
    display: none;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-list li ul, .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-list li ul {
    padding-left: 0;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-list li ul li a, .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-list li ul li a {
    display: inline-block;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-label:not(:last-child), .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-label:not(:last-child) {
    margin-bottom: 0;
  }
  .back_content {
    float: left !important;
    background: #d4cfca url(../images/bg/bg_backStage.png) no-repeat center/contain;
    width: 100%;
    height: 100%;
  }
  .back_content #about {
    background: rgba(212, 207, 202, 0.8);
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 1024px) {
  .one_page_h {
    height: calc(100vh - 3rem - 88px);
  }
  .one_page_min_h {
    min-height: calc(100vh - 3rem - 88px);
  }
  .sidebar-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 3rem - 88px);
  }
  .sidebar-page .sidebar-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: calc(100vh - 3rem - 88px);
  }
  .box_about {
    width: 50%;
  }
  .box_knowledge {
    width: 50%;
  }
  .box_testList {
    width: 50%;
  }
  .box_test {
    width: 65%;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li a span:nth-child(2), .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-list li a span:nth-child(2) {
    display: none;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li ul, .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-list li ul {
    padding-left: 0;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li ul li a, .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-list li ul li a {
    display: inline-block;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-label:not(:last-child), .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-label:not(:last-child) {
    margin-bottom: 0;
  }
}
