@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

a {
  color: #f17c67;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #8a8174;
  cursor: pointer;
  font-weight: 500;
}

.color_mindColor5 {
  color: #ebe9e8;
}

.has-text-primary {
  color: #dbdbdb !important;
}

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.one_page_h {
  height: calc(100vh - 3rem - 52px);
}

.one_page_min_h {
  min-height: calc(100vh - 3rem - 52px);
}

.label {
  color: #60584b;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

.fixed {
  position: fixed;
}

/* alert_style ------------------------------- */
.modal-card-title {
  text-align: center !important;
}

.modal-card-body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .modal-card .modal-card-foot {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.modal-card-foot {
  height: 75px;
}

.media {
  width: 100%;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media-content {
  -webkit-box-flex: 0 !important;
      -ms-flex-positive: 0 !important;
          flex-grow: 0 !important;
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* btn ( enter & cancel) */
.btn_enter {
  border-radius: 7px;
  background-color: #f17c67;
  color: white;
  border: 1px solid #f17c67;
  cursor: pointer;
}

.btn_enter:hover {
  color: white;
  background: rgba(241, 124, 103, 0.8);
  border: 1px solid #f17c67;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.btn_enter:focus {
  color: white;
}

.btn_cancel {
  border-radius: 7px;
  background-color: #ebe9e8;
  border: 1px solid #d4cfca;
  color: #8a8174;
  cursor: pointer;
}

.btn_cancel:hover {
  color: #aea79c;
  background: rgba(235, 233, 232, 0.8);
  border: 1px solid #d4cfca;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.btn_cancel:focus {
  color: #aea79c;
}

.btn_back_size {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
}

.btn_to_top_bg {
  position: fixed;
  bottom: 7%;
  right: 1%;
  background-color: rgba(138, 129, 116, 0.3);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.btn_to_top_bg a {
  color: rgba(241, 124, 103, 0.8);
}

.btn_to_top_bg a:hover {
  color: rgba(241, 124, 103, 0.5);
}

/* navbar -------------------------------------------------- */
.nav_signUp {
  border-radius: 7px;
  background-color: #f17c67;
  color: white;
  border: 1px solid #ffa392;
}

.nav_signUp:hover {
  color: white;
  background: rgba(241, 124, 103, 0.8);
  border: 1px solid #ffa392;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.nav_signUp:focus {
  color: white;
}

.nav_logIn {
  border-radius: 7px;
  background-color: white;
  color: #f17c67;
  border: 1px solid #ffa392;
}

.nav_logIn:hover {
  color: white !important;
  border: 1px solid #f4c7a5;
  background-color: #f17c67;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.nav_logIn:focus {
  color: #f17c67;
}

.nav_avator {
  height: 100%;
  width: 100%;
}

/* footer --------------------------------------- */
footer {
  width: 100%;
  height: 3rem;
  background-color: #8a8174;
}

footer p {
  line-height: 3rem;
}

/* home.vue ----------------------------------------------- */
.bg_home {
  background: url(https://picsum.photos/2000/1200/?random=1) no-repeat center/cover;
  overflow-y: hidden;
}

.home_title {
  height: 75%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_title h1 {
  width: 75%;
  color: #aea79c;
}

/* about&step --------------------------------------------- */
.bg_about {
  background-color: #d4cfca;
}

.box_about {
  width: 100%;
}

.box_about_content_h {
  min-height: 150px;
}

#a_content {
  height: 500px;
}

.step-title {
  font-size: 1rem !important;
  font-weight: 500 !important;
}

/* login -------------------------------------------------- */
.bg_login {
  background-color: #f4c7a5;
}

.box_login {
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 5px #f17c67;
          box-shadow: 0 0 5px #f17c67;
  color: #f17c67;
  background: white;
}

.btn_login {
  border-radius: 2rem;
  background-color: #f17c67;
  color: white;
  border: 1px solid #ffa392;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
}

.btn_login:hover {
  color: white;
  background: rgba(241, 124, 103, 0.8);
  border: 1px solid #ffa392;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.btn_login:focus {
  color: white;
}

/* rigistered ---------------------------------------------- */
#registered_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg_registered {
  background-color: #ffc7bc;
}

.box_registered {
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 0 5px #f17c67;
          box-shadow: 0 0 5px #f17c67;
  color: #f17c67;
  background: white;
}

.avator_registered {
  width: 100%;
  height: 50%;
}

/* knowledge -------------------------------------- */
.bg_knowledge {
  background-color: #aea79c;
}

.box_knowledge {
  width: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.8rem;
}

/* member_personal -------------------------------- */
.bg_personal {
  background: #d4cfca;
}

.image.is-150x150 {
  height: 150px;
  width: 150px;
}

.box_per_profile {
  background: #ebe9e8;
  border-radius: 1.5rem;
}

.box_per_result {
  background: #ffa392;
}

.btn_per_edit {
  background-color: transparent;
  color: #f17c67;
  border: none;
}

/* backStage-sidebar -------------------------------------------------- */
.sidebar-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 3rem - 52px);
}

.sidebar-page .sidebar-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: calc(100vh - 3rem - 52px);
}

.bg_back {
  background: #d4cfca url(../images/bg/bg_backStage.png) no-repeat center/contain;
  width: 100%;
}

.menu-list a:hover {
  background-color: rgba(212, 207, 202, 0.8);
}

.menu-list a:focus {
  background-color: rgba(241, 124, 103, 0.8);
  color: white;
}

.back_content {
  float: right !important;
  background: #d4cfca url(../images/bg/bg_backStage.png) no-repeat center/contain;
  width: 100%;
  height: 100%;
}

.back_content #backAbout,
.back_content #backKnowledge,
.back_content #backTest,
.back_content #backMember {
  background: rgba(212, 207, 202, 0.8);
  width: 100%;
  height: 100%;
}

/* backStage_routeview ---------------------- */
.back_add_box {
  background: rgba(96, 88, 75, 0.7);
  border-radius: 1.5rem;
  color: #ebe9e8;
  padding: 1.5rem;
}

.back_pre_box {
  background: rgba(174, 167, 156, 0.8);
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.backAbout_pre_box_h {
  min-height: 90px;
}

#back_add_title label,
#back_add_content label {
  color: #ebe9e8;
}

/* backMember---------------------- */
#backMember .button.is-primary {
  background-color: #8a8174;
  border-color: transparent;
  color: #fff;
}

#backMember .button.is-primary:hover {
  background-color: rgba(138, 129, 116, 0.8);
}

#backMember .button.is-primary:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(96, 88, 75, 0.8);
          box-shadow: 0 0 5px rgba(96, 88, 75, 0.8);
}

#backMember .btn_member_add {
  background-color: #f17c67;
  width: 55px;
  height: 55px;
  border-color: transparent;
  border-radius: 50%;
  color: #fff;
  position: fixed;
  bottom: 15%;
  right: 1%;
}

#backMember .btn_member_add:hover {
  background-color: rgba(241, 124, 103, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#backMember .btn_member_add:focus:not(:active) {
  -webkit-box-shadow: 0 0 5px rgba(241, 124, 103, 0.8);
          box-shadow: 0 0 5px rgba(241, 124, 103, 0.8);
}

.add_modal_size {
  width: 100%;
}

/* media Queries ------------------------------------------- */
@media screen and (max-width: 767px) {
  .back_add_box {
    width: 95%;
    padding: 1rem;
  }
  .back_pre_box {
    width: 95%;
    padding: 1rem;
  }
  .backAbout_pre_box_h {
    min-height: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-list li a span:nth-child(2), .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-list li a span:nth-child(2) {
    display: none;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-list li ul, .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-list li ul {
    padding-left: 0;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-list li ul li a, .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-list li ul li a {
    display: inline-block;
  }
  .b-sidebar .sidebar-content.is-mini-mobile:not(.is-mini-expand) .menu-label:not(:last-child), .b-sidebar .sidebar-content.is-mini-mobile.is-mini-expand:not(:hover) .menu-label:not(:last-child) {
    margin-bottom: 0;
  }
  .back_content {
    float: left !important;
    background: #d4cfca url(../images/bg/bg_backStage.png) no-repeat center/contain;
    width: 100%;
    height: 100%;
  }
  .back_content #about {
    background: rgba(212, 207, 202, 0.8);
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 768px) {
  .add_modal_size {
    width: 50%;
  }
}

@media all and (min-width: 1024px) {
  .one_page_h {
    height: calc(100vh - 3rem - 88px);
  }
  .one_page_min_h {
    min-height: calc(100vh - 3rem - 88px);
  }
  .sidebar-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 3rem - 88px);
  }
  .sidebar-page .sidebar-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: calc(100vh - 3rem - 88px);
  }
  .box_about {
    width: 50%;
  }
  .box_knowledge {
    width: 50%;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li a span:nth-child(2), .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-list li a span:nth-child(2) {
    display: none;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li ul, .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-list li ul {
    padding-left: 0;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-list li ul li a, .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-list li ul li a {
    display: inline-block;
  }
  .b-sidebar .sidebar-content.is-mini:not(.is-mini-expand) .menu-label:not(:last-child), .b-sidebar .sidebar-content.is-mini.is-mini-expand:not(:hover) .menu-label:not(:last-child) {
    margin-bottom: 0;
  }
}
